* { box-sizing: border-box; }

body {
  margin: 10px;
  background-color: rgb(181, 167, 167);
  color: #444;
  font: 1.4em Sansita, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  border-width: 5px;
  border-color: white;
}

.main > * {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.box-left {
  width: 140px;
  background-color:	#DCDCDC;
}
.box-altTxt {
  width: 140px;
  background-color:	#F0F8FF;
  color: #1E90FF;
}
.box-center {
  width: 140px;
  background-color: rgba(104, 217, 26, 0.97);
}
.box-right {
  width: 80px;
  background-color: #DCDCDC;
}
.box-left, .box-altTxt, .box-center, .box-right {
  height: 47px;
  border: solid 3px #FFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showImg {
  background-color: #808080;  
  text-align:center;
}
.saveTxt {
  background-color: #808080;
  text-align: left;
  overflow:auto;
  color: #DCDCDC;
}

.tabSel, .tabPar, .tabCal {
  background-color:	#808080;
}
.tabRef {
  background-color:	#778b8a;
}
.lab01, .lab02, .lab03, .lab04, .lab05, .lab06, .lab07, .lab08 {
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}
.labhelp {
 text-align: left;
 justify-content: center;
 border-radius: 10px;
 padding: 5px;
}
.lab01, .lab08 {
  background-color: #FF0000;
}
.lab02, .lab03, .lab04, .lab06, .lab07 {
  background-color: rgb(255, 153, 0);
  color: 	#800000;
}
.lab05 {
  background-color: #800000;
  color: 	#fafafa;
}
select {
  border: solid 5px #FFF;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/arrow24.png) no-repeat right  #F0F8FF;
  padding-right: 1em;
  color: 	#1E90FF;
  font-size: 20px;
  overflow: hidden;
}
option {
  color: 	#1E90FF;
  font-size: 20px;
  background-color: #F0F8FF;
}
